@model Agreed.WebUI.Models.ViewModels.CompanyViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-lg-6 col-12">
    <div class="card" style="height: 419.75px;">
        <div class="card-header">
            <h4 class="card-title">Şirket Tanımlama</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form asp-controller="Company" asp-action="Index" method="post">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <span>Şirket Adı</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="position-relative has-icon-left">
                                            <input name="companyName" type="text" id="fname-icon" class="form-control" placeholder="Şirket Adı">
                                            <div class="form-control-position">
                                                <i class="feather icon-home"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Kaydet</button>
                                <button type="reset" class="btn btn-outline-warning mr-1 mb-1 waves-effect waves-light">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Şirketler</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>Şirket Adı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Companies.Count > 0)
                            {
                                foreach (var item in Model.Companies)
                                {
                                    <tr>
                                        <td>@item.CompanyName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ResultModel != null)
{
    <script type="text/javascript">

        window.onload = function () {
            var success = '@Model.ResultModel.Success';
            var message = '@Model.ResultModel.Message';

            if (success) {
                toastr.success(message, 'Başarılı!');
            }
            else {
                toastr.error(message, 'Başarısız!');
            }
        };

    </script>
}