@model AgreedViewModel
@{
    ViewData["Title"] = "Sipariş Durumları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link href="~/app-assets/css/pages/data-list-view.min.css" rel="stylesheet" />


<table id="agreedTable" class="table data-list-view table-bordered nowrap w-100 dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th class="">Sipariş Numarası</th>
            <th style="width:200px !important"><i class="feather icon-percent"></i> Hakediş</th>
            <th style="width:200px !important"><i class="feather icon-truck "></i> Kargo</th>
            <th style="width:100%;" class="">Alıcı</th>
            <th class="">Sipariş Statüsü</th>
            <th class="">Fatura Tutarı</th>
            <th>Sipariş Numarası</th>
            <th>Alıcı</th>
            <th>Sipariş Statüsü</th>
            <th>Fatura Tutarı</th>
        </tr>
    </thead>
</table>
<div class="modal fade bd-example-modal-lg" id="deneme" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>
<script src="~/js/AgreedDataTables.js"></script>


