@model AgreedViewModel
@{
    ViewData["Title"] = "Sipariş Durumları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table data-list-view dataTable no-footer dt-checkboxes-select" id="DataTables_Table_0" role="grid">
    <thead>
        <tr role="row">
            <th class="dt-checkboxes-cell dt-checkboxes-select-all sorting_disabled" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 42px;" data-col="0" aria-label=""><input type="checkbox"></th>
            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="NAME: activate to sort column descending" style="width: 477.016px;">Cari Adı</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="CATEGORY: activate to sort column ascending" style="width: 114.016px;">Sipariş No</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="POPULARITY: activate to sort column ascending" style="width: 108.016px;">Kargo Ödemesi</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ORDER STATUS: activate to sort column ascending" style="width: 128.016px;">Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders.Any())
        {
            foreach (var item in Model.Orders)
            {
                <tr role="row" class="odd">
                    <td class="dt-checkboxes-cell"><input type="checkbox" class="dt-checkboxes"></td>
                    <td class="product-name sorting_1">@item.Receiver</td>
                    <td class="product-category">@item.OrderNumber</td>
                    <td>
                        @if (item.CargoStatus)
                        {
                            <div class="chip chip-success">
                                <div class="chip-body">
                                    <div class="chip-text">Alındı</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chip chip-danger">
                                <div class="chip-body">
                                    <div class="chip-text">Alınmadı</div>
                                </div>
                            </div>
                        }

                    </td>
                    <td class="product-price">@item.AmountTobeBilled</td>
                </tr>
            }
        }

    </tbody>
</table>
