@model Agreed.WebUI.Models.ViewModels.CargoViewModel

@{
    ViewBag.Title = "Kargolar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">  
    <div class="card-content">
        <div class="card-body">
            <form asp-controller="Cargo" asp-action="Index" method="post" enctype="multipart/form-data">
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input py-5" id="cargoReportFile" name="cargoReportFile">
                            <label class="custom-file-label text-center py-5 h5" for="inputGroupFile01">Excel dosyası eklemek için tıklayınız...</label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12 pt-5">
                    <button class="btn btn-success btn-block p-1" type="submit" title="Karşılaştır"><i class="fas fa-file-excel-o fa-2x"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.ResultModel != null)
{
    <script type="text/javascript">

        window.onload = function () {
            var success = '@Model.ResultModel.Success';
            var message = '@Model.ResultModel.Message';

            if (success == 'True') {
                toastr.success(message, 'Başarılı!');
            }
            else {
                toastr.error(message, 'Başarısız!');
            }
        };

    </script>
}